/*scroll*/
::-webkit-scrollbar-button {
    background-color: var(--color-f0);
}

::-webkit-scrollbar-track {
    width: 5px;
    background-color: var(--color-f1);
}

::-webkit-scrollbar {
    width: 12px;
    background-color: var(--color-f7);
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    background: linear-gradient(45deg, var(--color-f9), var(--color-f8));
}